<!DOCTYPE html>
<html lang="pt-br">
{% include './head.twig'%} 
<body>
    {% if store == true %}
        {{ menu_store}}
    {% endif %}

     {% if admin == true %}
   
        {% include './menu-admin.twig'%}
    {% endif %}

        {% if store == true and policy !=true %}
            {{ template}}
        {% endif %}
    {% if admin == true or policy == true %}
        {% include (template_from_string(template)) %}
    {% endif %}
     
    {% if store == true %}
        {{cart_template}}
    {% endif %}

    {% include './footer.twig'%}
</body>
</html>